.bg-dark {
    background-color: transparent !important;
}

.row.justify-content-center {
    background: linear-gradient(45deg, #2B0030, #6A4C6E );
}

.custom-col{
  position: fixed;
  z-index: 1000;
}

.metisHeading{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  font-family: sans-serif;
  padding-top: 1%;
}

.username{
  text-align: right;
}

.navbar{
  display: flex;
}

.logoutBtn{
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 20px;
}
