<div id="header" class="row">
    <div class="col custom-col">
        <div class="row justify-content-center">
            <nav class="col-11 navbar navbar-dark bg-dark">
                <div class="col">
                    <h3 class="metisHeading">Metis</h3>
                </div>
                <div class="col username">
                    <ul class="navbar-nav ml-auto dropdown" id="profile-container">
                        <li class="nav-item dropdown">
                            <div class="dropdown logoutbtn">
                                <button class="logoutBtn">
                                    <a id="logout-btn" role="button" (click)="logout()">
                                        <i class="fa fa-sign-out orange" aria-hidden="true"></i>Logout
                                    </a>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--              <ul class="navbar-nav ml-auto dropdown" id="profile-container">-->
                <!--                <li class="nav-item dropdown">-->
                <!--                  <div class="dropdown logoutbtn">-->
                <!--                    <button class="btn logout dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"-->
                <!--                            aria-haspopup="true" aria-expanded="false"><span class="username">{{username}}</span></button>-->
                <!--                    <button class="dropdown-menu logoutBtn dropdown-menu-right" aria-labelledby="dropdownMenuButton">-->
                <!--                      <a class="dropdown-item" id="logout-btn" role="button" (click)="logout()">-->
                <!--                        <i class="fa fa-sign-out orange" aria-hidden="true"></i>Logout-->
                <!--                      </a>-->
                <!--                    </button>-->
                <!--                  </div>-->
                <!--                </li>-->
                <!--              </ul>-->
                <!--
                    </div>-->
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
