.footer {
  background: linear-gradient(45deg, #2B0030, #6A4C6E);
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footer p {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
