.info-content {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 #E9E5EA;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 65px;
}

.exitAndSendEmail {
  transform: translate(25%, 1%);
}

.title{
  text-align: left;
  color: #2B0030;
  font-size: 25px;
  font-weight: bold;
}

#continueBtn{
  padding: 3% 10%;
  float: left;
  border-radius: 2px;
  background-color: #2000A8;
  border-color: #2000A8;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

#exitBtn {
  color: #6A4C6E;
  font-weight: 500;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #6A4C6E;
  float: right;
  padding: 3% 13%;
}

.content {
  background-color: #f1eded;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 100%;
}

#review-questions {
  background-color: white;
}

.data-content {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.data-content h3 {
  padding-bottom: 3%;
  padding-top: 1%;
}

.add-remove-questions {
  background-color: grey;
}

.nav-tabs .nav-link.active {
  color: #FFFFFF;
  background-color: #3050A8;
  border-color: #dee2e6 !important;
  font-weight: bold;
  font-size: 18px;
}

.nav-tabs .nav-link {
  /*border-top-left-radius: 1em;*/
  /*border-top-right-radius: 1em;*/
  border-right: 25px;
  color: #FFFFFF;
  background-color: darkgray;
  border-color: #dee2e6 !important;
  font-weight: 500;
  height: 100%;
}

#QuestionsContent{
  margin: 3% 0;
}

.questionsList{
  margin-left: -2%;
}

.custom-col {
  padding: 0;
}

#errorHTTPMsgModal .modal-body {
  text-align: center;
  display: table;
  padding-top: 4%;
}

#errorHTTPMsgModal .modal-content {
  background-color: #E9E5EA;
  border: 1px solid #584e4e;
  color: #2B0030;
}

#errorHTTPMsgModal {
  transform: translate(150%, 30%);
}

.error-container {
  display: table-cell;
  vertical-align: middle;
}

.fa-times-circle {
  font-size: 80px !important;
  padding-bottom: 9%;
  color: #c72626;
}

.errorHTTP {
  font-weight: 500;
  font-size: 28px;
}

.errorCloseBtn {
  border: 0;
  background-color: white;
  color: #2B0030;
  font-weight: 700;
  border-radius: 18px;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 4%;
}
