<div *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div *ngIf="successModal" id="success_tic" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close" href="#" data-dismiss="modal">&times;</a>
      <div class="page-body">
        <div class="head">
          <h3 style="margin-top:5px;">Email sent successfully!</h3>
        </div>
        <h1 style="text-align:center;">
          <div class="checkmark-circle">
            <div class="background"></div>
            <div class="checkmark draw"></div>
          </div>
        </h1>
      </div>
    </div>
  </div>
  </div>

<div class="row">
  <div class="modal col-3" id="errorHTTPMsgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="error-container">
            <i class="fas fa-times-circle" aria-hidden="true"></i>
            <p class="errorHTTP">
              HTTP error 
            </p>
            <button type="button" class="btn btn-secondary errorCloseBtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row info-content justify-content-center" *ngIf="!isLoading">
  <div class="col-10 headerButtons">
    <div class="row btn-row justify-content-around">
      <div class="col-6 title">
        {{title}}
      </div>
      <div class="col-4 exitAndSendEmail">
        <div class="row">
          <div class="col">
            <button id="exitBtn" type="button" class="btn" routerLink="/homepage"> Exit</button>
          </div>
          <div class="col">
            <button id="continueBtn" type="submit" class="btn btn-success custom-btn" (click)="sendMail()"> Send Email
            <!-- <button id="continueBtn" type="submit" class="btn btn-success custom-btn" routerLink="?Email={{email}}"> Send Email -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row">
          <div class="col">
            <form #reviewQuestionsForm="ngForm" name="review-questions" id="review-questions">
              <div class="data-content">
                <ul class="nav nav-tabs nav-fill" id="stakeholders" role="tablist">
                  <li class="nav-item" *ngFor="let entry of stakeholderQuestionList1 | keys; let i = index">
                    <a class="nav-link" [ngClass]="{'active': ('stakeholderQuestions' + i === flag)}" [attr.id]="'stakeholder' +i" data-toggle="tab"
                       [attr.href]="'#stakeholderQuestions' + i" role="tab"
                       [attr.aria-controls]="'stakeholderQuestions' + i"
                       aria-selected="true" (click)="toggleShow(i, entry.value)">{{entry.key}}</a>
                  </li>
                </ul>
                <div class="tab-content" id="QuestionsContent">
                  <div class="tab-pane fade" [ngClass]="{'show': ('stakeholderQuestions' + i === flag), 'active': ('stakeholderQuestions' + i === flag)}"
                       [attr.id]="'stakeholderQuestions' + i" role="tabpanel" [attr.aria-labelledby]="'stakeholder' +i"
                       *ngFor="let entry of stakeholderQuestionList1 | keys; let i = index">
                    <div *ngFor="let header of entry.value | keys" (click)="showDetails(header.value)">
                      <h4> {{header.key}} </h4>
                      <ul class="questionsList">
                        <li *ngFor="let questions of header.value"> {{questions}} </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!isLoading">
  <div class="col custom-col">
      <app-footer></app-footer>
  </div>
</div>
