.mainDiv{
  margin: 10% auto;
  text-align: center;
  width: 70%;
}
.questionAnswerDiv{
  margin: 5% 0;
}
.question{
  font-size: 20px;
  margin-bottom: 2%;
}
.client-name{
  color: #9D9D9D;
  font-size: 14px;
}
button {
  font-size: 14px;
  margin: 0 1%;
  border-radius: 3px;
}
.backBtn,.skipBtn{
  background-color: white;
  border: none;
  color: #0E78FA;
  opacity: 0.5;
}
.nextBtn{
  background-color: #D7D7D7;
  border: none;
  color: white;
}
.activeBtn{
  font-size: 14px;
  background-color: #0E78FA;
  border-color: #0E78FA;
  color: white;
  margin: 0 1%;
  border-radius: 3px;
}
*:focus{
  outline: 0;
  border: none;
  box-shadow: none;
}
