<div class="mainDiv">
  <div class="client-name">
    <p>{{clientName + ' Preliminary Questionnaire'}}</p>
  </div>
<!--  <div class="questionAnswerDiv" *ngFor="let question of sampleResponse['questionList']">
    <div class="question">{{question.question}}</div>
    <div [ngSwitch]="question['questionType'].toLowerCase()">
      <div *ngSwitchCase="'binary'">
        <app-binary-answer-type [options]="question.answerOptions"></app-binary-answer-type>
      </div>
      <div *ngSwitchCase="'multi choice single select'">
        <app-mcq-answer-type [options]="question.answerOptions"></app-mcq-answer-type>
      </div>
      <div *ngSwitchCase="'multi choice multi select'">
        <app-multiple-answer-type [options]="question.answerOptions"></app-multiple-answer-type>
      </div>
      <div *ngSwitchCase="'file upload'">
        <app-file-answer-type [options]="question.answerOptions"></app-file-answer-type>
      </div>
      <div *ngSwitchCase="'short answer text'">
        <app-short-answer-type [options]="question.answerOptions"></app-short-answer-type>
      </div>
      <div *ngSwitchCase="'long answer text'">
        <app-long-answer-type [options]="question.answerOptions"></app-long-answer-type>
      </div>
    </div>
  </div>-->
  <div class="questionAnswerDiv">
    <div class="question">{{currentQAJson.question}}</div>
    <div [ngSwitch]="currentQAJson['questionType'].toLowerCase()">
      <div *ngSwitchCase="'binary'">
        <app-binary-answer-type [options]="currentQAJson.answerOptions" (response)="getResponse($event)"></app-binary-answer-type>
      </div>
      <div *ngSwitchCase="'multi choice single select'">
        <app-mcq-answer-type [options]="currentQAJson.answerOptions" (response)="getResponse($event)"></app-mcq-answer-type>
      </div>
      <div *ngSwitchCase="'multi choice multi select'">
        <app-multiple-answer-type [options]="currentQAJson.answerOptions" (response)="getResponse($event)"></app-multiple-answer-type>
      </div>
      <div *ngSwitchCase="'file upload'">
        <app-file-answer-type [options]="currentQAJson.answerOptions"></app-file-answer-type>
      </div>
      <div *ngSwitchCase="'short answer text'">
        <app-short-answer-type [options]="currentQAJson.answerOptions"></app-short-answer-type>
      </div>
      <div *ngSwitchCase="'long answer text'">
        <app-long-answer-type [options]="currentQAJson.answerOptions"></app-long-answer-type>
      </div>
    </div>
  </div>
  <div>
    <button *ngIf="currentQuestionNo !== 0" class="backBtn" (click)="onBackClick()">{{backBtn}}</button>
    <button *ngIf="currentQuestionNo < maxNoOfQuestion-1" class="nextBtn" (click)="onNextClick()"
            [ngClass]="{'activeBtn': isResponseGiven}" [disabled]="!isResponseGiven">{{nextBtn}}</button>
    <button class="skipBtn" (click)="onSkipClick()">{{skipBtn}}</button>
  </div>
</div>
