<div class="answer">
  <div class="binary-answer-types" *ngFor="let option of answerOptions; let i = index;">
    <p><button type="button" class="btn binary-btn" (click)="onAnswerClick($event)">{{option}}</button></p>
  </div>
</div>
