<div *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="row justify-content-center info-content" *ngIf="!isLoading">
  <div class="col-12">
    <!--    <div class="row btn-row justify-content-around">-->
    <div class="row btn-row">
      <div class="col-2">
        <div class="row">
          <div class="col">
            <p class="section-name"><b> {{title}} </b></p>
          </div>
          <!--          <div class="col">-->
          <!--            <button id="saveBtn" type="button" class="btn btn-outline-dark custom-btn" [disabled]="flag"-->
          <!--                    (click)="OnClickSave()"> Save Progress-->
          <!--            </button>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="col-4 exitContinueButtonsTop">
        <div class="row">
          <div class="marginRight">
            <button id="clearBtn" type="button" class="btn" (click)="onClickClearForm()"> Clear</button>
          </div>
          <div class="marginRight">
            <button id="exitBtn" type="button" class="btn" routerLink="/homepage"> Exit</button>
          </div>
          <div>
            <button id="continueBtn" type="button" class="btn custom-btn" [disabled]="flag"
                    (click)="OnClickContinue()"> Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="modal col-3" id="errorMsgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="error-container">
            <i class="fas fa-times-circle" aria-hidden="true"></i>
            <p class="errorWith">
              {{errorWithMsg}}
            </p>
            <p> {{errorMsg}} </p>
            <button type="button" class="btn btn-secondary errorCloseBtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="errorHTTPMsgModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error Occurred</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{addClientError}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row content" *ngIf="!isLoading">
  <div *ngIf="isCRUDLoading">
    <div class="loader loader-CRUD"></div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row">
          <div class="col">
            <form #clientForm="ngForm" name="new-review" id="new-review">
              <div class="data-content" id="data-content">
                <div id="instruction" class="instruction" [ngClass]="{'instruction-green':!flag}">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true" [hidden]="!flag"></i>
                  <i class="fa fa-check-circle" aria-hidden="true" [hidden]="flag"></i>
                  <b class="select-client" [hidden]="!flag"> Select client </b>
                  <b class="select-client" [hidden]="flag"> Client selected </b>
                  <p [hidden]="!flag"> Please select a client or add a new client to continue </p>
                  <p [hidden]="flag"> Client selected </p>
                </div>
                <div class="form-data" id="clientName">
                  <label for="client" class="client-detail"><span class="mandatory"> * </span>Client: </label>
                  <button type="button" class="btn add-option" data-toggle="modal" data-target="#addClientModal">Add
                    client
                  </button>
                  <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog"
                       aria-labelledby="addClientModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addClientModalLabel">Add client</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form #addClientModalForm="ngForm">

                            <div class="client-business-media">
                              <div class="form-data" id="modalClientName-container">
                                <label for="modalClientName" class="client-detail"> <span class="mandatory"> * </span>
                                  Client name: </label>
                                <input id="modalClientName" #modalClientName="ngModel" type="text" class="form-control"
                                       name="modalClientName" placeholder="Enter client name"
                                       [(ngModel)]="selectedClient.clientModal.clientName" required>
                              </div>
                              <div class="form-data">
                                <label for="modalBusinessSize" class="client-detail"> Business size </label>
                                <select *ngIf="result" id="modalBusinessSize" class="form-control"
                                        name="modalBusinessSize"
                                        [(ngModel)]="selectedClient.clientModal.businessSize">
                                  <option value="" selected> Select size</option>
                                  <option
                                    *ngFor="let businessSize of result['businessSize']">{{ businessSize }}</option>
                                </select>
                              </div>
                              <div class="form-data">
                                <label for="modalBusinessVertical" class="client-detail"> <span
                                  class="mandatory"> * </span> Business vertical </label>
                                <select *ngIf="result" id="modalBusinessVertical" class="form-control"
                                        name="modalBusinessVertical"
                                        [(ngModel)]="selectedClient.clientModal.businessVertical" required>
                                  <option value="" selected> Select vertical</option>
                                  <option *ngFor="let businessVertical of getBusinessVerticals()">{{ businessVertical }}</option>
                                </select>
                              </div>
                              <div class="form-data">
                                <label for="modalBusinessType" class="client-detail"> Business type </label>
                                <select *ngIf="result" id="modalBusinessType" class="form-control"
                                        name="modalBusinessType" [(ngModel)]="selectedClient.clientModal.businessType">
                                  <option value=""> Select type</option>
                                  <option *ngFor="let businessType of getBusinessTypeWhileClientCreation()">{{ businessType }}</option>
                                </select>
                              </div>
                              <div class="form-data">
                                <label for="modalBusinessGoals" class="client-detail"> <span
                                  class="mandatory"> * </span> Business goals </label>
                                <input id="modalBusinessGoals" #modalBusinessGoals="ngModel" class="form-control"
                                       type="text" placeholder="Type..." name="modalBusinessGoals"
                                       [(ngModel)]="selectedClient.clientModal.businessGoal" required>
                              </div>
                              <div class="form-data">
                                <label for="modalMediaHoldingGroup" class="client-detail"> <span
                                  class="mandatory"> * </span> Media holding
                                  group </label>
                                <select *ngIf="result" id="modalMediaHoldingGroup" class="form-control"
                                        name="modalMediaHoldingGroup"
                                        [(ngModel)]="selectedClient.clientModal.mediaHoldingGroup" required>
                                  <option value="" selected> Select group</option>
                                  <option
                                    *ngFor="let mediaHoldingGroup of result['mediaHoldingGroup']">{{ mediaHoldingGroup }}</option>
                                </select>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary modal-clear-btn" (click)="clearClientModal()">
                            Clear
                          </button>
                          <button type="button" class="btn btn-secondary modal-cancel-btn" data-dismiss="modal">Cancel
                          </button>
                          <button type="button" title="Please enter the required fields"
                                  class="btn btn-primary modal-confirm-btn" data-dismiss="modal"
                                  (click)="onclickAddClientModal()" [disabled]="addClientModalForm.form.invalid">Confirm
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="clientname">
                    <angular2-multiselect
                      id="selectClient"
                      name="clientName"
                      [data]="dropdownListClient"
                      [(ngModel)]="selectedItemsClient"
                      [settings]="dropdownSettingsClient"
                      (onSelect)="onItemSelectClient($event)"
                      (onDeSelect)="onItemSelectClient($event)"
                      required
                    >
                    </angular2-multiselect>
                  </div>
                  <div
                    [hidden]="!(!hideErrorMsg && (selectedClient.clientName === null || selectedClient.clientName ===''))"
                    class="text-danger">
                    Client name is required.
                  </div>
                </div>
              </div>
              <fieldset id="enable-disable-form" [disabled]="flag"
                        [ngClass]="{'color-enable':!flag,'color-disable':flag}">
                <div class="data-content" id="client-data-content">
                  <h3>
                    <i class="fas fa-user-friends" aria-hidden="true"></i>
                    Client Details
                  </h3>
                  <div class="form-data" id="stakeholderName">
                    <label for="clientStakeholders" class="client-detail"> <span class="mandatory"> * </span> Client
                      Stakeholders </label>
                    <i *ngIf="selectedItemsStakeholder.length > 0" class="fa fa-check-circle" aria-hidden="true"
                       [hidden]="flag"></i>
                    <button type="button" class="btn add-option" data-toggle="modal"
                            data-target="#addClientStakeholderModal">Add stakeholder
                    </button>
                    <div class="modal fade" id="addClientStakeholderModal" tabindex="-1" role="dialog"
                         aria-labelledby="addClientStakeholderModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addClientStakeholderModalLabel">Add client stakeholder</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form #addClientStakeholderModal="ngForm">
                              <div class="form-data">
                                <label for="name" class="client-detail"> <span class="mandatory"> * </span> Name
                                </label>
                                <input id="modalStakeholderName" #modalStakeholderName="ngModel" class="form-control"
                                       name="modalStakeholderName" placeholder="Enter name"
                                       [(ngModel)]="selectedClient.clientStakeholderModal.name" required>
                              </div>

                              <div class="form-data">
                                <label for="email" class="client-detail"> <span class="mandatory"> * </span> Email
                                </label>
                                <input id="modalStakeholderEmail" #modalStakeholderEmail="ngModel" class="form-control"
                                       name="modalStakeholderEmail" placeholder="Enter email"
                                       pattern="[a-zA-Z0-9]+@[a-z]+[.][a-zA-Z]+"
                                       [(ngModel)]="selectedClient.clientStakeholderModal.email" required>
                              </div>
                              <div class="form-data">
                                <label for="jobTitle" class="client-detail"> <span class="mandatory"> * </span> Job
                                  title </label>
                                <input id="modalStakeholderJobTitle" #modalStakeholderJobTitle="ngModel"
                                       class="form-control" name="modalStakeholderJobTitle"
                                       placeholder="Enter job title"
                                       [(ngModel)]="selectedClient.clientStakeholderModal.jobTitle" required>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary modal-clear-btn"
                                    (click)="clearStakeholderModal()">Clear
                            </button>
                            <button type="button" class="btn btn-secondary  modal-cancel-btn" data-dismiss="modal">
                              Cancel
                            </button>
                            <button type="button" class="btn btn-primary  modal-confirm-btn" data-dismiss="modal"
                                    title="Please enter all the fields" (click)="onclickAddClientStakeholderModal()"
                                    [disabled]="addClientStakeholderModal.form.invalid || !(selectedClient.clientStakeholderModal.email.includes('@'))">
                              Confirm
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <angular2-multiselect
                      id="stakeholder"
                      name="ClientStakeholders"
                      [data]="dropdownListStakeholder"
                      [(ngModel)]="selectedItemsStakeholder"
                      [settings]="dropdownSettingsStakeholder"
                      (onSelect)="onItemSelectStakeholder($event)"
                      (onDeSelect)="onItemSelectStakeholder($event)"
                      (onSelectAll)="onItemSelectStakeholder($event)"
                      (onDeSelectAll)="onItemSelectStakeholder($event)"
                      required
                    >
                    </angular2-multiselect>

                    <!-- <tag-input name="ClientStakeholdersDisplay" [(ngModel)]="stakeholders1" (onAdd)="onAddStakeholder($event)" (onRemove)="onRemoveStakeholder($event)"
                                 [modelAsStrings]="true"></tag-input> -->
                    <div [hidden]="!(!hideErrorMsg && (selectedItemsStakeholder.length === 0))" class="text-danger">
                      Client stakeholder is required.
                    </div>
                  </div>
                  <div class="client-business-media">
                    <div class="form-data">
                      <label for="businessVertical" class="client-detail"> <span class="mandatory"> * </span> Business
                        vertical </label>
                      <i *ngIf="selectedClient.businessVertical" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <select *ngIf="result" id="selectBusinessVertical" class="form-control input"
                              name="BusinessVertical" [(ngModel)]="selectedClient.businessVertical" required>
                        <option value="" selected> Select vertical</option>
                        <option *ngFor="let businessVertical of getBusinessVerticals()">{{ businessVertical }}</option>
                      </select>
                      <div
                        [hidden]="!(!hideErrorMsg && (selectedClient.businessVertical === null || selectedClient.businessVertical ===''))"
                        class="text-danger">
                        Business vertical is required.
                      </div>
                    </div>
                    <div class="form-data">
                      <label for="businessType" class="client-detail"> Business type </label>
                      <i *ngIf="selectedClient.businessType" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <select *ngIf="result" id="selectBusinessType" class="form-control input" name="BusinessType"
                              [(ngModel)]="selectedClient.businessType">
                        <option value="" selected> Select type</option>
                        <option *ngFor="let businessType of getBusinessType()">{{ businessType }}</option>
                      </select>
                    </div>
                    <div class="form-data">
                      <label for="businessSize" class="client-detail"> Business size </label>
                      <i *ngIf="selectedClient.businessSize" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <select *ngIf="result" id="selectBusinessSize" class="form-control input" name="BusinessSize"
                              [(ngModel)]="selectedClient.businessSize">
                        <option value="" selected> Select size</option>
                        <option *ngFor="let businessSize of result['businessSize']">{{ businessSize }}</option>
                      </select>
                    </div>
                    <div class="form-data">
                      <label for="inputBusinessGoals" class="client-detail"> <span class="mandatory"> * </span> Business
                        goals </label>
                      <i *ngIf="selectedClient.businessGoal" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <input id="inputBusinessGoals" #inputBusinessGoals="ngModel" class="form-control" type="text"
                             placeholder="Type..." name="inputBusinessGoals" [(ngModel)]="selectedClient.businessGoal"
                             required>
                      <div
                        [hidden]="!(!hideErrorMsg && (selectedClient.businessGoal === null || selectedClient.businessGoal ===''))"
                        class="text-danger">
                        Business goals is required.
                      </div>
                    </div>
                    <div class="form-data">
                      <div class="input-wrapper">
                        <label for="mediaAgency" class="client-detail"> <span class="mandatory"> * </span> Media agency
                        </label>
                        <i *ngIf="selectedClient.mediaAgency" class="fa fa-check-circle" aria-hidden="true"
                           [hidden]="flag"></i>
                        <button type="button" class="btn add-option" data-toggle="modal"
                                data-target="#addMediaAgencyModal">Add Media Agency
                        </button>
                        <div class="modal fade" id="addMediaAgencyModal" tabindex="-1" role="dialog"
                             aria-labelledby="addMediaAgencyModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="addMediaAgencyModalLabel">Add media agency</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form #addMediaAgencyModalForm="ngForm">
                                  <div class="form-data">
                                    <label for="name" class="client-detail"> <span class="mandatory"> * </span> Name
                                    </label>
                                    <input id="modalMediaAgencyName" #modalMediaAgencyName="ngModel"
                                           pattern="[a-zA-Z0-9]+[ a-zA-Z0-9]*"
                                           class="form-control" name="modalMediaAgencyName" placeholder="Enter name"
                                           [(ngModel)]="selectedClient.mediaAgencyModal.name" required>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-clear-btn"
                                        (click)="clearMediaAgencyModal()">Clear
                                </button>
                                <button type="button" class="btn btn-secondary  modal-cancel-btn" data-dismiss="modal">
                                  Cancel
                                </button>
                                <button type="button" class="btn btn-primary modal-confirm-btn" data-dismiss="modal"
                                        title="Please enter name" (click)="onclickAddMediaAgencyModal()"
                                        [disabled]="addMediaAgencyModalForm.form.invalid">Add
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <select *ngIf="result" id="selectMediaAgency" class="form-control input" name="MediaAgency"
                                [(ngModel)]="selectedClient.mediaAgency" required>
                          <option value="" selected> Select agency</option>
                          <option *ngFor="let mediaAgency of result['mediaAgency']">{{ mediaAgency }}</option>
                        </select>
                        <div
                          [hidden]="!(!hideErrorMsg && (selectedClient.mediaAgency === null || selectedClient.mediaAgency ===''))"
                          class="text-danger">
                          Media agency is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-data">
                      <label for="mediaHoldingGroup" class="client-detail"> <span class="mandatory"> * </span> Media
                        holding group </label>
                      <i *ngIf="selectedClient.mediaHoldingGroup" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <select *ngIf="result" id="selectMediaHoldingGroup" class="form-control input"
                              name="MediaHoldingGroup" [(ngModel)]="selectedClient.mediaHoldingGroup" required>
                        <option value="" selected> Select group</option>
                        <option
                          *ngFor="let mediaHoldingGroup of result['mediaHoldingGroup']">{{ mediaHoldingGroup }}</option>
                      </select>
                      <div
                        [hidden]="!(!hideErrorMsg && (selectedClient.mediaHoldingGroup === null || selectedClient.mediaHoldingGroup ===''))"
                        class="text-danger">
                        Media holding group is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="data-content" id="marketing-infrastructure-content">
                  <h3>
                    <i class="material-icons">&#xe801;</i>
                    Marketing & Infrastructure
                  </h3>
                  <div class="marketing-goal-budget">
                    <div class="form-data" id="marketing-goals">
                      <label for="marketingGoals" class="client-detail"> <span class="mandatory"> * </span> Marketing
                        goals </label>
                      <i *ngIf="showGreenTickForMarketingGoals()" class="fa fa-check-circle" aria-hidden="true"
                         [hidden]="flag"></i>
                      <input id="MarketingGoals1" #MarketingGoals1="ngModel" class="form-control inputMarketingGoals"
                             type="text" placeholder="Goal 1..." name="MarketingGoals1"
                             [(ngModel)]="selectedClient.marketingGoals1" required>

                      <input id="MarketingGoals2" #MarketingGoals2="ngModel" class="form-control inputMarketingGoals"
                             type="text" placeholder="Goal 2..." name="MarketingGoals2"
                             [(ngModel)]="selectedClient.marketingGoals2" required>

                      <input id="MarketingGoals3" #MarketingGoals3="ngModel" class="form-control inputMarketingGoals"
                             type="text" placeholder="Goal 3..." name="MarketingGoals3"
                             [(ngModel)]="selectedClient.marketingGoals3" required>
                      <div
                        [hidden]="!(!hideErrorMsg && ((selectedClient.marketingGoals1 === null || selectedClient.marketingGoals1 ==='') && (selectedClient.marketingGoals2 === null || selectedClient.marketingGoals2 ==='') && (selectedClient.marketingGoals3 === null || selectedClient.marketingGoals3 ==='')))"
                        class="text-danger">
                        Marketing goal is required
                      </div>
                    </div>
                    <div class="form-data" id="marketing-budget">
                      <label for="marketingBudget" class="client-detail"> Marketing budget ($) </label>
                      <i *ngIf="selectedClient.marketingBudget && !(inputMarketingBudget.invalid)"
                         class="fa fa-check-circle" aria-hidden="true" [hidden]="flag"></i>
                      <input id="inputMarketingBudget" #inputMarketingBudget="ngModel" class="form-control"
                             pattern="[0-9]*" type="text" placeholder="e.g. 5,000" name="MarketingBudget"
                             [(ngModel)]="selectedClient.marketingBudget">
                      <div
                        *ngIf="inputMarketingBudget.errors && (inputMarketingBudget.dirty || inputMarketingBudget.touched)">
                        <p class="text-danger" *ngIf="inputMarketingBudget.errors.pattern">Marketing Budget must be a
                          number and should be greater than 0</p>
                      </div>
                    </div>
                  </div>

                  <div class="split-channels">
                    <label class="client-detail">Split channels </label>
                    <i *ngIf="checkIfSplitChannelIsChecked()" class="fa fa-check-circle" aria-hidden="true"
                       [hidden]="flag"></i>
                    <br/>
                    <ul class="splitChannels">
                      <li class="split-channel-data"
                          [ngClass]="{programmaticWidth: splitChannels.channel ==='Programmatic'}"
                          *ngFor="let splitChannels of splitChannelPercentageCheckbox; let i = index">
                        <input class="split-channel-checkbox" type="checkbox" name="{{splitChannels.channel}}"
                               value="{{splitChannels.channel}}"
                               [(ngModel)]="splitChannels.checked" (change)="onCheckboxChange($event)"/>
                        <label>{{splitChannels.channel}}</label>

                        <!-- <input *ngIf="splitChannels.checked" placeholder=" % " class="form-control" type="text" name="{{splitChannels.percentage}}" value="{{splitChannels.percentage}}" [(ngModel)]="splitChannels.percentage"> -->
                        <input type="number" *ngIf="splitChannels.checked" placeholder=" % "
                               class="form-control split-channel-percentage" type="text"
                               name="{{splitChannels.percentage}}" value="{{splitChannels.percentage}}" pattern="1-100"
                               (change)="onClickPercentage($event, i)">
                      </li>
                    </ul>
                    <!--                      <div [hidden]="(hideSplitChannelErrorMsg)" class="text-danger">-->
                    <!--                      Split channel is required-->
                    <!--                    </div>-->
                    <div
                      [hidden]="hideErrorMsg && checkSplitChannelPercentageTotal()"
                      class="text-danger">
                      Split channels total percentage should be 100%
                    </div>
                  </div>

                  <div class="form-data radio-input" id="infrastructureDevelopmentBudget">
                    <label for="infrastructureDevelopmentBudget" class="client-detail"> Infrastructure Development
                      Budget </label>
                    <i *ngIf="selectedClient.infrastructureDevBudget" class="fa fa-check-circle" aria-hidden="true"
                       [hidden]="flag"></i>
                    <a *ngIf="selectedClient.infrastructureDevBudget" class="clearBudgetSelection"
                       (click)="clearBudgetSelection()">Clear selection</a>
                    <div>
                      <div class="form-check" *ngFor="let budget of result['infraDevBudget']">
                        <input class="form-check-input" type="radio" name="InfrastructureDevelopmentBudget"
                               value="{{budget}}" [(ngModel)]="selectedClient.infrastructureDevBudget">
                        <label class="form-check-label"> {{budget}} </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="data-content" id="business-challenges-content">
                  <h3> Business Challenges </h3>
                  <div class="form-data">
                    <label for="keyMarketingChallenges" class="client-detail"> <span class="mandatory"> * </span> Key
                      marketing challenges </label>
                    <i *ngIf="showGreenTickForMarketingChallenges()" class="fa fa-check-circle" aria-hidden="true"
                       [hidden]="flag"></i>
                    <input id="KeyMarketingChallenges1" #KeyMarketingChallenges1="ngModel"
                           class="form-control keyMarketingChallenges" type="text" placeholder="Challenge 1..."
                           name="KeyMarketingChallenges1" [(ngModel)]="selectedClient.keyMarketingChallenges1" required>

                    <input id="KeyMarketingChallenges2" #KeyMarketingChallenges2="ngModel"
                           class="form-control keyMarketingChallenges" type="text" placeholder="Challenge 2..."
                           name="KeyMarketingChallenges2" [(ngModel)]="selectedClient.keyMarketingChallenges2" required>

                    <input id="KeyMarketingChallenges3" #KeyMarketingChallenges3="ngModel"
                           class="form-control keyMarketingChallenges" type="text" placeholder="Challenge 3..."
                           name="KeyMarketingChallenges3" [(ngModel)]="selectedClient.keyMarketingChallenges3" required>
                    <div
                      [hidden]="!(!hideErrorMsg && ((selectedClient.keyMarketingChallenges1 === null || selectedClient.keyMarketingChallenges1 ==='') && (selectedClient.keyMarketingChallenges2 === null || selectedClient.keyMarketingChallenges2 ==='') && (selectedClient.keyMarketingChallenges3 === null || selectedClient.keyMarketingChallenges3 ==='')))"
                      class="text-danger">
                      Key marketing challenge is required.
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
            <div>
              <div class="exitContinueButtons">
                <div class="row">
                  <div class="marginRight">
                    <button id="clearBtnBottom" type="button" class="btn" (click)="onClickClearForm()"> Clear</button>
                  </div>
                  <div class="marginRight">
                    <button id="exitBtnBottom" type="button" class="btn" routerLink="/homepage"> Exit</button>

                  </div>
                  <div class="">
                    <button id="continueBtnBottom" type="button" class="btn custom-btn" [disabled]="flag"
                            (click)="OnClickContinue()"> Continue
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!isLoading">
  <div class="col custom-col">
    <app-footer></app-footer>
  </div>
</div>
