.custom-col {
  padding-right: 0;
  padding-left: 0;
}

.info-content {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 #E9E5EA;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 6%;
}

.marginRight{
  margin-right: 5%;
}

.content {
  background-color: #f1eded;
  padding-top: 3%;
  padding-bottom: 5%;
}

.btn-row {
}

.data-content {
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 3%;
  background-color: white;
}

.data-content h3 {
  padding-bottom: 1%;
  color: #2B0030;
  font-weight: 500;
  border-bottom: 1px solid #E9E5EA;
}

#data-content {
  background-color: white;
}

.instruction {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2%;
  margin-bottom: 5%;
  border: 1px solid #FFCA00;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #FFCA00;
  padding-right: 2%;
}

.instruction .fa-exclamation-triangle {
  float: left;
  padding-right: 2%;
}

.instruction .a-check-circle {
  float: left;
  padding-right: 2%;
  color: #02BA5B !important;
}

.instruction-green {
  border: 1px solid #02BA5B;
}

#instruction p {
  margin-bottom: 0;
}

.client-detail {
  letter-spacing: -0.25px;
  font-size: 15px;
  color: #2B0030;
  font-weight: 500;
}

.splitChannels {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.add-option {
  float: right;
  font-weight: 400;
  letter-spacing: -0.25px;
  font-size: 15px;
  color: #2000A8;
  padding-right: 0;
  padding-top: 1px;
}

.input {
  border: 1px solid #BFB2C0;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.form-data {
  width: 50%;
  padding-bottom: 3%;
}

.split-channel-data {
  width: 13%;
  padding: 0;
}

.form-data select, .form-data input {
  border-radius: 0;
  border-color: #ab9393;
  margin-bottom: 4%;
  margin-right: 4px;
}

.split-channels {
  margin-bottom: 3%;
}

.split-channel-percentage {
  width: 60% !important;
}

.split-channel-checkbox {
  margin-right: 4%;
}

#addClientModal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  max-width: 800px;
}

#addClientModal .modal-body .form-data input, #addClientModal .modal-body .form-data select {
  width: 75%;
  margin-bottom: 0;
}

.modal-body .client-detail {
  float: none;
}

#errorMsgModal .modal-body {
  text-align: center;
  display: table;
}

.error-container {
  display: table-cell;
  vertical-align: middle;
}

.fa-times-circle {
  font-size: 80px !important;
  padding-bottom: 9%;
  color: #c72626;
}

.form-data select:focus, .form-data input:focus {
  box-shadow: none;
  border-color: #ab9393;
}

#addClientStakeholderModal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 65%;
}

#addClientStakeholderModal .form-data {
  width: 70%;
}

#addMediaAgencyModal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 65%;
}

#addMediaAgencyModal .form-data {
  width: 70%;
}

label[for=splitChannels] {
  float: none;
}

.form-data.radio-input {
  width: 100%;
}

.form-data.radio-input label {
  float: none;
}

#stakeholder {
  padding-top: 1%;
  width: 100%;
}

.marketingHeading {

}

/deep/ tag-input tag-input-form {
  display: none;
}

/deep/ .ng2-tags-container {
  width: max-content;
}

/deep/ tag.ng-tns-c2-0.ng-trigger.ng-trigger-animation.ng-star-inserted {
  border-radius: 0;
}

#saveBtn {
  color: #2000A8;
  font-weight: 500;
  background-color: white;
  border: 0;
  float: left;
}

#exitBtn {
  color: #6A4C6E;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #6A4C6E;
  padding: 4% 32%;
}

.btn-success {
  background-color: #0000A0 !important;
  color: #FFFFFF;
}

.btn-success:hover {
  background-color: #FFFFFF;
}

.exitContinueButtonsTop {
  /*transform: translate(80%, 1%);*/
  margin-left: 48%;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #2B00E6;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

.custom-btn.disabled, .custom-btn:disabled {
  border-radius: 2px;
  color: gray !important;
  font-weight: 500;
  text-align: center;
  cursor: not-allowed;
  background-color: #d0c5d0 !important;
  color: #a5a0a5 !important;
  border: 1px solid #a7a4a7;
}

.custom-btn.disabled, .custom-btn:disabled {
    border-radius: 2px;
    color: gray !important;
    font-weight: 500;
    text-align: center;
    cursor: not-allowed;
    background-color: #d0c5d0 !important;
    color: #a5a0a5 !important;
    border: 1px solid #a7a4a7;
}

#continueBtn {
  padding: 4% 12%;
  border-radius: 30px;
  background-color: #0000A0;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

#continueBtnBottom {
  padding: 4% 12%;
  border-radius: 30px;
  background-color: #0000A0;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

#review-btn .custom-btn {
  float: none;
}

.color-enable {
  opacity: 1;
}

.color-disable {
  opacity: 0.5;
}

button[data-toggle=modal] {
  box-shadow: none;
}

.select-client {
  color: #553359;
  font-weight: 500;
}

#instruction p {
  color: #6A4C6E;
}

.fa {
  padding: 1%;
}

.programmaticWidth {
  width: 18% !important;
}

.fa-check-circle {
  color: #02BA5B;
}

.fa-times {
  color: #dc3545;
}

.section-name {
  color: #2B0030;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  margin-left: 10%;
}

#stakeholderName {
  padding-top: 1%;
}

.client-business-media .form-data {
  display: inline-table;
}

.client-business-media .form-data select {
  width: 87%;
}

.client-business-media .form-data input {
  width: 87%;
}

.marketing-goal-budget {
  border-bottom: 1px solid #E9E5EA;
  margin-bottom: 3%;
}

#marketing-goals {
  display: inline-table;
  width: 65%;
}

#marketing-goals input {
  width: 89%;
}

#marketing-budget {
  width: 30%;
}

#infrastructureDevelopmentBudget {
  display: inline;
  padding-right: 2%;
}

.exitContinueButtons {
  /*float: right;*/
  margin-left: 57%;
}

.exitBtn {

}

.continueBtnBottom {
  margin: 0 -10% 0 8%;
  padding: 0;
}

#modalClientName {
  width: 97%;
}

#modalClientName-container {
}

#modalClientName {
  width: 97;
}

.modal-clear-btn {
  background-color: #F4F2F4;
  border: 0;
  color: #2B0030;
  font-weight: 600;
}

#errorMsgModal .modal-content {
  background-color: #E9E5EA;
  border: 1px solid #584e4e;
  color: #2B0030;
}

.modal-cancel-btn {
  color: #2B0030 !important;
  background-color: #F4F2F4 !important;
  border: 0;
}

.modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #F4F2F4 !important;
}

.modal-confirm-btn {
  border-radius: 2px;
  background-color: #2000A8 !important;
  border: 0;
}

.instruction .fa-times {
  float: right;
  color: #BFB2C0;
}

.input-wrapper {
  width: 87%;
}

#selectMediaAgency {
  width: 100%;
}

.form-check {
  display: inline-block;
  padding-right: 1.25rem;
}

#client-data-content .fa-check-circle {
  color: #02BA5B;
}

#business-challenges-content .form-data {
  width: 65%;
}

.loader-CRUD {
  opacity: 0.5;
}

.multiselectStakeholder {
  background-color: grey;
}

#stakeholderName {
  width: 44%;
}

#stakeholderName /deep/ angular2-multiselect .selected-list .c-list .c-token .c-remove svg {
  fill: black;
}

#stakeholderName /deep/ angular2-multiselect .selected-list .c-list .c-token {
  background-color: rgb(232, 240, 254);
}

#selectClient /deep/ .c-btn {
  cursor: default;
}

#selectClient /deep/ .clear-all {
  display: none;
}

#clientname {

}

#clearBtn {
  padding: 4% 25%;
  border-radius: 30px;
  background-color: gray;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

.clearBudgetSelection {
  text-decoration: underline !important;
  color: #007bff !important;
  font-size: small;
  font-weight: 500;
  margin-left: 10%;
  cursor: pointer;
}

#clearBtnBottom {
  padding: 4% 30%;
  border-radius: 30px;
  background-color: gray;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  margin-left: 0%;
}

#exitBtnBottom{
  color: #6A4C6E;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #6A4C6E;
  padding: 4% 35%;
}

.btn-primary:disabled {
  background-color: #d0c5d0 !important;
  color: #a5a0a5;
  border: 1px solid #a7a4a7;
}

#clientName /deep/ .c-list {
  display: none;
}

/deep/ .selected-list .c-btn {
  border: 1px solid black;
}

.fas {
  font-size: 1.5rem;
}

.errorWith {
  font-weight: 500;
  font-size: 28px;
}

#errorMsgModal {
  /* transform: translate(447px, 100px); */
}

.errorCloseBtn {
  border: 0;
  background-color: white;
  color: #2B0030;
  font-weight: 700;
  border-radius: 18px;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 4%;
}

#new-review input[type=text] {
  background-color: rgb(232, 240, 254);
}

/deep/ angular2-multiselect #selectClient {
  background-color: rgb(232, 240, 254);
}

select#modalBusinessType {
  background-color: rgb(232, 240, 254);
}

select#modalBusinessVertical {
  background-color: rgb(232, 240, 254);
}

select#modalBusinessSize {
  background-color: rgb(232, 240, 254);
}

select#modalMediaHoldingGroup {
  background-color: rgb(232, 240, 254);
}

select#selectBusinessType {
  background-color: rgb(232, 240, 254);
}

select#selectBusinessVertical {
  background-color: rgb(232, 240, 254);
}

select#selectBusinessSize {
  background-color: rgb(232, 240, 254);
}

select#selectMediaAgency {
  background-color: rgb(232, 240, 254);
}

select#selectMediaHoldingGroup {
  background-color: rgb(232, 240, 254);
}

input#modalStakeholderName {
  background-color: rgb(232, 240, 254);
}

input#modalStakeholderEmail {
  background-color: rgb(232, 240, 254);
}

input#modalStakeholderJobTitle {
  background-color: rgb(232, 240, 254);
}

input#modalMediaAgencyName {
  background-color: rgb(232, 240, 254);
}

.c-btn {
  background-color: rgb(232, 240, 254);
}

.custom-col {
  padding: 0;
}

.mandatory {
  color: red;
  font-weight: 900;
}

#errorHTTPMsgModal .modal-body {
    text-align: center;
    display: table;
    padding-top: 4%;
}

#errorHTTPMsgModal .modal-content {
    background-color: #E9E5EA;
    border: 1px solid #584e4e;
    color: #2B0030;
}

.error-container {
    display: table-cell;
    vertical-align: middle;
}

.fa-times-circle {
    font-size: 80px !important;
    padding-bottom: 9%;
    color: #c72626;
}

.errorHTTP {
    font-weight: 500;
    font-size: 28px;
}
