#errorModal .modal-header {
    background: #FF6500;
    color: white;
    text-align: center;
    padding: 0.7rem 1rem;
}

#contact-link-for-support{
    /* color: #212529; */
}

#contact-link-for-support:hover, #contact-link-for-support:active, #contact-link-for-support.active{
    /* color: black; */
}

.errorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.fa-lock {
    font-size: 200px;
}

.orange {
    font-size: 100px;
}

.errorContainer h2 {
    font-size: 60px;
}

.errorContainer p {
    font-size: 20px;
}