<div id="errorModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Access Denied</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please contact <a target="_blank" id="contact-link-for-support" href="https://mail.google.com/mail/?view=cm&fs=1&to=subhan@miqdigital.com&su=Request%20access%20to%20Catalyst">support</a> for further queries.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center errorContainer" *ngIf="unauthorizedUser">
    <div>
        <i class="fas fa-lock" aria-hidden="true"></i>
        <h1 class="orange">403</h1>
        <h2>Access Denied</h2>
        <p>Please contact <a target="_blank" id="contact-link-for-support" href="https://mail.google.com/mail/?view=cm&fs=1&to=ivor@miqdigital.com&su=Request%20access%20to%20Catalyst">click here</a> for further queries. </p>
    </div>
</div>
