<div class="progressBar">
  <ul id="progress">
    <li><div class="node green"></div><p><b>{{stagesNames.createReview}}</b> <Step 1/3></p></li>
    <li><div class="divider grey"></div></li>
    <li><div class="node grey" [ngClass]="{'green': currentStep === 'prequestionnairepage' || currentStep === 'reviewquestions'}"></div><p><b>{{stagesNames.preQuestionnaire}}</b> <Step 2/3></p></li>
    <li><div class="divider grey"></div></li>
    <li><div class="node grey" [ngClass]="{'green': currentStep === 'reviewquestions'}"></div><p><b>{{stagesNames.reviewQuestions}}</b> <Step 3/3></p></li>
  </ul>
</div>
