*, *:after, *:before { margin:0; padding:0; }
body {
  padding: 15px;
  font-family: Helvetica, sans-serif;
}

input[type="button"] {
  margin-top: 20px;
}
.node {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display:inline-block;
  transition: all 1000ms ease;
}

.activated {
  box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

.divider {
  height: 40px;
  width: 2px;
  margin-left: 4px;
  transition: all 800ms ease;
}

li p {
  display:inline-block;
  margin-left: 25px;
}

li {
  list-style: none;
  line-height: 1px;
}


.blue { background-color: rgba(82, 165, 255, 1); }
.green{ background-color: rgba(92, 184, 92, 1) !important; }
.red { background-color: rgba(255, 148, 148, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }

.progressBar{
  margin: 100px 0 0 62px;
  position: sticky;
  top: 20%;
  padding: 5px;
}
