input{
  width: 50%;
  font-size: 14px;
  border: 1px solid #D5D5D5;
}

input::placeholder{
  font-size: 12px;
  color: #DEDEDE;
}

.blueBorder{
  border: 1px solid #0E78FA !important;
  box-shadow: none;
}

*:focus {
  outline: none;
}
