<div *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div id="search-content" class="row justify-content-center" *ngIf="!isLoading">
  <div class="col-10 custom-col">
    <form>
      <div class="row">
        <div class="col-3">
          <p class="section-name"><b> {{metisTexts.homepageTitle}} </b></p>
        </div>
        <div class="col">
          <input id="customSearch" type="text" name="search" [value]="searchText"
                 placeholder="Search stakeholder, owner, solution engineer or client"
                 class="form-control custom-form-control" (keyup)="search($event)">
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-success create-data-review" routerLink="/datareview">
            Create Data Review
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="modal col-3" id="errorHTTPMsgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="error-container">
            <i class="fas fa-times-circle" aria-hidden="true"></i>
            <p class="errorHTTP">
              HTTP error
            </p>
            <button type="button" class="btn btn-secondary errorCloseBtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="row justify-content-center" *ngIf="!isLoading">
  <div *ngIf="isCRUDLoading">
    <div class="loader loader-CRUD"></div>
  </div>
  <div id="content-wrap" class="col-10 custom-col">
    <div class="row justify-content-center" id="content-wrap-row">
      <div class="col-11">
        <div class="row justify-content-between">
          <div class="col-7 filterButton">
            <button type="button" class="filter-btn btn btn-primary" data-toggle="modal" data-target="#filterModal">
              <i class="fa fa-sliders" aria-hidden="true"></i>
              Filter
            </button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
               aria-hidden="true">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6 modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="filterModalLabel">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                        Filter
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body container-fluid">
                      <div class="row">
                        <div class="col">
                          <label for="selectOptions"> Client name: </label>
                          <!-- <ng-multiselect-dropdown id="selectOptions" name="clientName" [placeholder]="'Select client'"
                            [data]="dropdownListClient" [(ngModel)]="selectedItemsClient"
                            [settings]="dropdownSettingsClient" (onSelect)="onItemSelectClient($event)" (onSelectAll)="onItemSelectClient($event)"
                            (onDeSelect)="onItemSelectClient($event)" (onDeSelectAll)="onItemSelectClient($event)">
                          </ng-multiselect-dropdown> -->
                          <ng-multiselect-dropdown id="selectOptions" name="clientName" [placeholder]="'Select client'"
                                                   [data]="dropdownListClient" [(ngModel)]="selectedItemsClient"
                                                   [settings]="dropdownSettingsClient"
                                                   (onSelect)="onItemSelectClient($event)"
                                                   (onSelectAll)="onItemSelectAllClient($event)"
                                                   (onDeSelect)="onItemDeselectClient($event)"
                                                   (onDeSelectAll)="onItemDeselectAllClient($event)">
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="col">
                          <label for="SESelectOptions"> SE: </label>
                          <!-- <ng-multiselect-dropdown id="SESelectOptions" name="SEName" [placeholder]="'Select SE'"
                            [data]="dropdownListSE" [(ngModel)]="selectedItemsSE" [settings]="dropdownSettingsSE"
                            (onSelect)="onItemSelectSE($event)" (onDeSelect)="onItemSelectSE($event)">
                          </ng-multiselect-dropdown> -->
                          <ng-multiselect-dropdown id="SESelectOptions" name="SEName" [placeholder]="'Select SE'"
                                                   [data]="dropdownListSE" [(ngModel)]="selectedItemsSE"
                                                   [settings]="dropdownSettingsSE"
                                                   (onSelect)="onItemSelectSE($event)"
                                                   (onSelectAll)="onItemSelectAllSE($event)"
                                                   (onDeSelect)="onItemDeselectSE($event)"
                                                   (onDeSelectAll)="onItemDeselectAllSE($event)">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label for="statusSelectOptions"> Status: </label>
                          <!-- <ng-multiselect-dropdown id="statusSelectOptions" name="Status"
                            [placeholder]="'Select Status'" [data]="dropdownListStatus"
                            [(ngModel)]="selectedItemsStatus" [settings]="dropdownSettingsStatus"
                            (onSelect)="onItemSelectStatus($event)" (onDeSelect)="onItemSelectStatus($event)">
                          </ng-multiselect-dropdown> -->
                          <ng-multiselect-dropdown id="statusSelectOptions" name="Status"
                                                   [placeholder]="'Select Status'" [data]="dropdownListStatus"
                                                   [(ngModel)]="selectedItemsStatus" [settings]="dropdownSettingsStatus"
                                                   (onSelect)="onItemSelectStatus($event)"
                                                   (onSelectAll)="onItemSelectAllStatus($event)"
                                                   (onDeSelect)="onItemDeselectStatus($event)"
                                                   (onDeSelectAll)="onItemDeselectAllStatus($event)">
                          </ng-multiselect-dropdown>
                        </div>
                        <!-- <div class="col">
                          <label for="dateSelectContainer"> Date: </label>
                          <div #dateSelectOptions id="dateSelectContainer">
                            <select id="dateSelectOptions" class="form-control custom-form-control filter"
                              (click)="onSelectDate()">
                              <option value="" selected disabled hidden> Date </option>
                            </select>
                            <div class="Date" id="Date" *ngIf="displayDateOption">
                              <div id="dateFromTo">
                                <div id="fromDate">
                                  <p for="from"> From </p>
                                  <input type="date" name="from" [(ngModel)]="tempFromDate">
                                </div>
                                <label id="delimiter"> - </label>
                                <div id="toDate">
                                  <p for="to"> To </p>
                                  <input type="date" name="to" [(ngModel)]="tempToDate">
                                </div>
                              </div>
                              <button type="button" class="clear-selection" (click)="clearDateFilter()">
                                Clear selections
                              </button>
                            </div>
                          </div>
                        </div> -->
                        <div class="col">
                          <label for="dateSelectContainer"> Date: </label>
                          <div id="dateSelectContainer">
                            <input id="dateSelectOptions" readonly class="form-control custom-form-control filter"
                                   value='{{tempFromDate}} to {{tempToDate}}'
                                   (click)="onSelectDate()"/>
                            <div class="Date" id="Date" *ngIf="displayDateOption">
                              <div id="dateFromTo">
                                <div id="fromDate">
                                  <p for="from"> From </p>
                                  <input type="date" name="from" [(ngModel)]="tempFromDate">
                                </div>
                                <label id="delimiter"> - </label>
                                <div id="toDate">
                                  <p for="to"> To </p>
                                  <input type="date" name="to" [(ngModel)]="tempToDate">
                                </div>
                              </div>
                              <button type="button" class="clear-selection" (click)="clearDateFilter()">
                                Clear selections
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="modal-body container-fluid">
                      <div class="row">
                        <div class="col">
                          <label for="selectOptions"> Client name: </label>
                          <angular2-multiselect
                            id="selectOptions" name="clientName"
                            [data]="dropdownListClient"
                            [(ngModel)]="selectedItemsClient"
                            [settings]="dropdownSettingsClient"
                            (onSelect)="onItemSelectClient($event)"
                            (onDeSelect)="onItemSelectClient($event)">
                            (onSelectAll)="onItemSelectClient($event)"
                            (onDeSelect)="onItemSelectClient($event)">
                          </angular2-multiselect>
                        </div>
                        <div class="col">
                          <label for="SESelectOptions"> SE: </label>
                          <angular2-multiselect
                            id="SESelectOptions" name="SEName"
                            [data]="dropdownListSE"
                            [(ngModel)]="selectedItemsSE"
                            [settings]="dropdownSettingsSE"
                            (onSelect)="onItemSelectSE($event)"
                            (onDeSelect)="onItemSelectSE($event)">
                          </angular2-multiselect>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <label for="statusSelectOptions"> Status: </label>
                          <angular2-multiselect
                            id="statusSelectOptions" name="Status"
                            [data]="dropdownListStatus"
                            [(ngModel)]="selectedItemsStatus"
                            [settings]="dropdownSettingsStatus"
                            (onSelect)="onItemSelectStatus($event)"
                            (onDeSelect)="onItemSelectStatus($event)">
                          </angular2-multiselect>
                        </div>
                        <div class="col">
                          <label for="dateSelectContainer"> Date: </label>
                          <div id="dateSelectContainer">
<<<<<<< HEAD
                            <select id="dateSelectOptions" class="form-control custom-form-control filter"
                                    (click)="onSelectDate()">
                              <option value="" selected disabled hidden> Date</option>
                            </select>
=======
                            <input id="dateSelectOptions" readonly class="form-control custom-form-control filter" value='{{tempFromDate}} to {{tempToDate}}'
                            (click)="onSelectDate()" />
>>>>>>> 20d711f5832b1c9e0d3168576475eb076b3003bf
                            <div class="Date" id="Date" *ngIf="displayDateOption">
                              <div id="dateFromTo">
                                <div id="fromDate">
                                  <p for="from"> From </p>
                                  <input type="date" name="from" [(ngModel)]="tempFromDate">
                                </div>
                                <label id="delimiter"> - </label>
                                <div id="toDate">
                                  <p for="to"> To </p>
                                  <input type="date" name="to" [(ngModel)]="tempToDate">
                                </div>
                              </div>
                              <button type="button" class="clear-selection" (click)="clearDateFilter()">
                                Clear selections
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary clearBtn" data-dismiss="modal"
                              (click)="clearAllFilters()"> Clear All
                      </button>
                      <button type="button" class="btn btn-secondary cancelBtn" data-dismiss="modal">Cancel</button>
                      <!-- <button type="button" class="btn btn-primary updateBtn" (click)="onUpdateFilters()" data-dismiss="modal" #closeModal>Update</button> -->
                      <button type="button" class="btn btn-primary updateBtn" (click)="onUpdateFilters()"
                              data-dismiss="modal">Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 sort-options">
            <p class="sort-detail"> Sort by: </p>
            <label for="sortInput">
              <input class="sortInput" type="radio" name="None" value="None" (change)="setSortOption('None')"
                     [(ngModel)]="attribute">
              None
            </label>
            <label for="sortInput">
              <input class="sortInput" type="radio" name="DateCreated" value="DateCreated"
                     (change)="setSortOption('DateCreated')" [(ngModel)]="attribute">
              Date created
            </label>
            <label for="sortInput">
              <input class="sortInput" type="radio" name="Owner" value="Owner" (change)="setSortOption('Owner')"
                     [(ngModel)]="attribute">
              Owner
            </label>
          </div>
        </div>
        <!-- <div id="table-content" class="row justify-content-center" *ngIf="!noData"> -->
        <div id="table-content" class="row justify-content-center">
          <div class="col">
            <div class="row top-headers">
              <div class="col">Status</div>
              <div class="col">Client Name</div>
              <div class="col">Owner Name</div>
              <div class="col">Date created</div>
              <div class="col">Edit review</div>
              <div class="col deleteReviewHeader">Delete review</div>
              <div class="col moreInfoHeader">More information</div>
            </div>
            <div>
              <div class="table-row" *ngFor="let dayData of daysData; let j = index">
                <div class="row justify-content-center">
                  <div class="col">
                    <div class="daysData">
                      <p class="daysDataText"> {{dayData.day}} </p>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center table-row-data">
                  <div class="col">
                    <!-- <div class="daysDetail row"
                      *ngFor="let data of onSelectSort() | groupDataAsDays : dayData | searchFilter : searchText | filtersMultiselect : selectedClientName : selectedSEName : selectedStatus : fromDate : toDate : noData; let i = index"> -->
                    <div class="daysDetail row"
                         *ngFor="let data of onSelectSort() | groupDataAsDays : dayData | filtersMultiselect : selectedClientName : selectedSEName : selectedStatus : fromDate : toDate | searchFilter : searchText ; let i = index">
                      <div class="status col marginTop">
                        <p class="status-data">{{ data.status }}</p>
                      </div>
                      <div class="column col">
                        <!--                      <p class="column-name">Client Name</p>-->
                        <p class="column-data"> {{ data.clientName }} </p>
                      </div>
                      <div class="column col">
                        <!--                      <p class="column-name">Owner</p>-->
                        <p class="column-data"> {{data.ownerName}} </p>
                      </div>
                      <div class="column col">
                        <!--                      <p class="column-name">Date Created</p>-->
                        <!--                      <p class="column-data"> {{data.createdDate | date:'longDate'}} </p>-->
                        <p class="column-data"> {{data.createdDate}} </p>
                      </div>
                      <div class="col marginTop">
                        <!-- <button type="button" class="edit btn btn-primary" (click)="onEdit(data.rmId)"> -->
                        <button type="button" class="edit btn btn-primary" disabled>
                          <i class="fa fa-edit" aria-hidden="true"></i>
                          Edit
                        </button>
                      </div>
                      <div class="col marginTop">
                        <!-- <button type="button" class="delete btn btn-danger" (click)="onDelete(data.rmId)"> -->
                        <button type="button" class="delete btn btn-danger" disabled>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          Delete
                        </button>
                      </div>
                      <div class="accordion col marginTop">
                        <a class="more-info" (click)="showInfo(j,i)">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          More info
                        </a>
                        <!-- <a data-toggle="popover" title="Popover Header" (click)="showInfo()" data-content="Some content inside the popover">Toggle popover</a> -->
                        <div [attr.id]="'collapse' + j + i" *ngIf="showAccordion === 'collapse' + j + i">
                          <div class="stakeholders">
                            <p><b> Client Stakeholder </b></p>
                            <p *ngFor="let stakeholder of data.stakeholderName"> {{stakeholder}} </p>
                          </div>
                          <div class="SE">
                            <p><b> Support solutions engineer </b></p>
                            <p *ngFor="let se of data.se"> {{se}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div id="table-content" class="row justify-content-center" *ngIf="noData">
            <div class="col">
              <p> No data available </p>
            </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!isLoading">
  <div class="col custom-col">
    <app-footer></app-footer>
  </div>
</div>
