#search-content {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 #E9E5EA;
  font-weight: 500;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin-top: 5%;
}

.custom-col {
  padding: 0;
}

#search-content button {
  float: right;
  border-radius: 2px;
  background-color: #2000A8;
  border: 0;
  color: #FFFFFF;
}

.section-name {
  color: #2B0030;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}

.top-headers {
  color: #2B0030;
  font-weight: bolder;
  margin-top: 1%;
  z-index: 100;
  top: 65px;
  position: sticky;
  padding-top: 2%;
  background-color: white;
}

.deleteReviewHeader{
  margin-right: -1%;
  margin-left: 0;
}

.moreInfoHeader{
  margin-right: 1%;
}

.top-headers div {
  margin-left: 2%;
  text-align: center;
}

#customSearch {
  background-image: url('./u9.svg');
  background-position: 5px 10px;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 32px;
  width: 85%;
  border-radius: 2px;
  background-color: #F4F2F4;
  border: 0;
  color: #6A4C6E;
}

#content {
  background-color: #f1eded;
}

.filterButton {
  padding-top: 8px;
}

#content-wrap {
  margin-top: 1%;
  padding-top: 1%;
  margin-bottom: 5%;
}

#content-wrap-row {
  background-color: white;
  padding-top: 1%;
}

.sort-detail {
  float: left;
  margin-right: 3%;
}

.sort-options {
  padding-top: 1%;
}

.daysData {
  color: #2B0030;
  font-weight: 500;
  background-color: #E9E5EA;
}

.daysDataText {
  margin-bottom: 0;
  padding-left: 2%;
}

.daysDetail {
  border: 1px solid #E9E5EA;
  text-align: center;
  padding: 1%;
}

.table-row {
  padding-top: 1%;
  padding-bottom: 2%;
}

.table-row-data {
  margin-left: 0;
  margin-right: 0;
}

.column {
  width: max-content;
  color: #6A4C6E;
  font-size: 12px;
}

.column-data {
  color: #6A4C6E;
  font-size: 14px;
  font-weight: bold;
}

.container div[id*='myPopoverContent'] {
  display: none;
}

.showInfoData {
  display: inline-block !important;
}

.popover-body {
  display: flex;
}

.marginTop {
  /*margin-top: 8px;*/
}

.daysDetail div {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.sort-detail {
  color: #2B0030;
  font-weight: 500;
}

label[for="sortInput"] {
  color: #2B0030;
  padding-right: 3%;
  margin-right: 3%;
}

.edit {
  border: 0;
  background-color: white;
  color: #2000A8;
  cursor: not-allowed;
}

.delete {
  border: 0;
  background-color: white;
  color: #FF2000;
  cursor: not-allowed;
}

.accordion {
  width: fit-content;
  padding: 0 !important;
}

.accordion .btn {
  background-color: white;
  color: #139CB5;
  border: 0;
}

.more-info {
  background-color: white;
  padding: 0;
  color: #139CB5 !important;
  cursor: pointer;
  margin: 0;
}

.daysDetail [id*="collapse"] {
  z-index: 1;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 28px 0 rgba(43, 0, 48, 0.2);
  text-align: left !important;
  padding-left: 4%;
}

.filter-btn {
  color: #6A4C6E;
  font-weight: 500;
  background-color: white;
  border: 1px solid #6A4C6E;
  border-radius: 2px;
}

.status-data {
  background-color: #6A4C6E;
  border-radius: 12px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  /*padding-bottom: 1%;*/
  padding: 0.5% 0;
}

.daysDetail p {
  margin-bottom: 0;
}

.clear-individual-filters {
  padding-top: 4%;
}

#filterModalLabel {
  color: #2B0030;
}

#filterModalLabel .fa-sliders {
  color: #BFB2C0;
}

.close {
  color: #806683;
}

.modal-dialog {
  max-width: none;
  transform: translate(0, 30%) !important;
}

.modal-body .row {
  padding-bottom: 3%;
}

.modal-content {
  overflow-y: hidden;
}

.sort-options {
  padding-top: 1%;
}

.modal-body {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 4%;
}

.modal-body label {
  color: #2B0030;
}

.modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #F4F2F4;
}

.clearBtn {
  color: #2000A8;
  background-color: #F4F2F4;
  border: 0;
}

.cancelBtn {
  background-color: #F4F2F4;
  border: 0;
  color: #2B0030;
}

.updateBtn {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  text-align: center;
  border-radius: 2px;
  background-color: #2000A8;
  margin-right: 3%;
}

#Date {
  display: block;
  position: absolute;
  z-index: 1;
  height: auto;
  background-color: white;
  color: #2B0030;
  font-weight: 500;
  padding: 3%;
  box-shadow: 0 7px 28px 0 rgba(43, 0, 48, 0.2);
  border-radius: 2px;
}

#fromDate {
  width: 46%;
  float: left;
}

#toDate {
  width: 46%;
  float: right;
}

#dateFromTo label {
  font-weight: 500;
}

#dateFromTo input {
  width: 92%;
  color: grey;
}

#apply {
  width: 100%;
  background-color: #148fbf;
  border: 0;
  color: white;
}

.clear-selection {
  width: 35%;
  float: right;
  text-align: end;
  text-decoration: underline;
  padding-bottom: 0;
  margin-bottom: 0;
  cursor: pointer;
  color: #2B0030;
  border: none;
  background-color: white;
}

/deep/ .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  /* display: none !important; */
}

/deep/ .multiselect-item-checkbox input[type=checkbox] + div:before {
  /* display: none !important; */
}

/* /deep/ #selectOptions .item2 {
    max-height: 110px !important;
} */

.loader-CRUD {
  opacity: 0.5;
}

.filterButton {
  padding-top: 8px;
}

/deep/ .selected-list .c-btn {
  border: 1px solid #ced4da;
}

#errorHTTPMsgModal .modal-body {
    text-align: center;
    display: table;
    padding-top: 4%;
}

#errorHTTPMsgModal .modal-content {
    background-color: #E9E5EA;
    border: 1px solid #584e4e;
    color: #2B0030;
}

#errorHTTPMsgModal {
    transform: translate(447px, 100px);
}

.error-container {
    display: table-cell;
    vertical-align: middle;
}

.fa-times-circle {
    font-size: 80px !important;
    padding-bottom: 9%;
    color: #c72626;
}

.errorHTTP {
    font-weight: 500;
    font-size: 28px;
}

.errorCloseBtn {
    border: 0;
    background-color: white;
    color: #2B0030;
    font-weight: 700;
    border-radius: 18px;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 4%;
}

/* /deep/ angular2-multiselect .lazyContainer {
    overflow: auto !important;
    max-height: 100px;
} */

/deep/ ng-multiselect-dropdown .item2 {
    max-height: 78px !important;
}