textarea{
  width: 50%;
  height: 10vw;
  border: 1px solid #D5D5D5;
  font-size: 14px;
}

textarea::placeholder{
  font-size: 12px;
  color: #DEDEDE;
}

.blueBorder{
  border: 1px solid #0E78FA !important;
  box-shadow: none;
}

*:focus {
  outline: none;
}
