.multiple-select {
  width: 30%;
  text-align: left;
}

.form-check{
  border: 1px solid #D5D5D5;
  padding: 0;
  margin-bottom: 5%;
}

.form-check-label{
  margin-bottom: 0;
  padding: 3%;
  width: 100%;
}

.answer-text{
  padding-left: 5%;
}

.blueBorder{
  border: 1px solid #0E78FA !important;
}

.custom-control-label{
  margin-bottom: 0;
  width: 100%;
  padding: 0 3% 3%;
  font-size: 14px;
}

.custom-checkbox{
  border: 1px solid #D5D5D5;
  padding-left: 13%;
  padding-top: 3%;
  margin-bottom: 5%;
}

input:focus{
  outline: 0 !important;
  border: none !important;
}

.show-answer-count{
  text-align: center;
  color: #C5BFBD;
  font-size: 12px;
}
