<div class="answer multiple-select">
<!--  <div class="form-check" *ngFor="let option of answerOptions">-->
<!--    <label class="form-check-label">-->
<!--      <input type="checkbox"/><span class="answer-text">{{option}}</span>-->
<!--    </label>-->
<!--  </div>-->

<!--  <div class="form-check" *ngFor="let option of answerOptions; let i = index;">-->
<!--    <input type="checkbox" class="form-check-input" id=`checkbox${i}`>-->
<!--    <label class="form-check-label" for=`checkbox${i}`>{{option}}</label>-->
<!--  </div>-->
  <!-- Default unchecked -->
  <div class="custom-control custom-checkbox" *ngFor="let option of answerOptions; let i = index">
    <input type="checkbox" class="custom-control-input" id={{i}} (click)="onCheckboxClick($event)">
    <label class="custom-control-label" for={{i}}>{{option}}</label>
  </div>
  <div *ngIf="checkedItems>0" class="show-answer-count">
    <p>{{checkedItems + (checkedItems===1 ? ' answer selected' : ' answers selected')}}</p>
  </div>
</div>
