#welcome{
  margin: 15% auto;
  text-align: center;
  width: 50%;
}

.client-name{
  font-size: 24px;
}

.welcome-para{
  font-size: 14px;
  margin: 5% 0 10%;
}

button{
  background-color: #0E78FA;
  color: white;
}
