<div id="welcome">
  <div class="client-name">
    <p>{{clientName + '  Preliminary Questionnaire'}}</p>
  </div>
  <div class="welcome-para">
    <p>
      {{welcomePara}}
    </p>
  </div>
  <div>
    <button class="btn" (click)="onStartClicked()">Start</button>
  </div>
</div>
