button{
  width: 30%;
  border: 1px solid #D5D5D5;
  font-size: 14px;
}

button:focus,
button:active{
  box-shadow: none;
}

.answerClickedStyle{
  border: 1px solid #0E78FA;
  box-shadow: none;
  color: #0E78FA;
  font-weight: 500;
}
