<div class="answer">
  <div class="multi-single-answer-types" *ngFor="let option of answerOptions; let i = index;">
    <p><button type="button" class="btn answer-btn" (click)="onAnswerClick($event)">{{option}}</button></p>
  </div>
</div>
