<div *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="row info-content" *ngIf="!isLoading">
  <div class="col-10 headerButtons">
    <div class="row btn-row justify-content-around">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <p class="section-name"> <b>{{title}}</b> </p>
          </div>
          <!--                          <div class="col">-->
          <!--                              <button id="saveBtn" type="button" class="btn btn-outline-dark custom-btn" (click)="onClickSave()"> Save progress </button>-->
          <!--                          </div>-->
        </div>
      </div>
      <div class="col-4 backAndReview">
        <div class="row">
          <div class="col">
            <button id="exitBtn" type="button" class="btn" routerLink="/datareview"> Back</button>
          </div>
          <div class="col">
            <button id="continueBtn" type="submit" class="btn btn-success custom-btn" (click)="onClickSubmit()">
              Review
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="modal col-3" id="errorHTTPMsgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="error-container">
            <i class="fas fa-times-circle" aria-hidden="true"></i>
            <p class="errorHTTP">
              HTTP error
            </p>
            <button type="button" class="btn btn-secondary errorCloseBtn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row content" *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row">
          <div class="col">
            <form #preQuestionnaireForm="ngForm" name="pre-questionnaire" id="pre-questionnaire">
              <div class="data-content">
                <h3>
                  <i class="fas fa-user-friends" aria-hidden="true"></i>
                  Client Stakeholders </h3>
                <div class="stakeholderCheckboxList">
                  <ul class="checkboxInput">
                    <li class="stakeholder" *ngFor="let stakeholder of stakeholdersChecked; let i = index">
                      <input type="checkbox" class="stakeholderCheckbox" name="stakeholder.stakeholder"
                             [(ngModel)]="stakeholder.checked"
                             (change)="onCheck($event, stakeholder.stakeholder, stakeholder.checked)">{{stakeholder.stakeholder}}
                    </li>
                  </ul>
                </div>
                <div [hidden]="hideErrorMsg" class="alert alert-danger">
                  Please select questions from below
                </div>
              </div>
              <div class="data-content">
                <h3>
                  <i style="font-size:24px" class="fa">&#xf022;</i>
                  Pre Questionnaire </h3>
                <div class="questionsTheme" *ngFor="let header of headerQuestions$ | async | keys; let i = index">
                  <div class="question-theme">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            [attr.data-target]="'#collapse' + i"
                            aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                      {{header.key}}
                    </button>
                    <p class="total-questions">{{header.value.length}} questions</p>
                  </div>
                  <div class="collapse multi-collapse" [ngClass]="{'show': i === 0}" [attr.id]="'collapse' + i"
                       *ngFor="let questions of header.value; let j = index">
                    <div class="select-clear">
                      <p class="selectAll" *ngIf="j === 0" (click)="selectAll(header.key, i)"> Select all </p>
                      <p class="clear" *ngIf="j === 0" (click)="clearAll(header.key, i)"> Clear selection </p>
                    </div>
                    <label class="questions">
                      <input type="checkbox" [attr.id]="questions.qid" data-toggle="collapse"
                             aria-expanded="false"
                             [attr.aria-controls]="'collapseQuestions' + i + j"
                             (change)="onClickQuestion(questions.qid, $event, i ,j, 0)">{{questions.question}}
                    </label>
                    <div class="collapse multi-collapse" [attr.id]="'collapseQuestions' + i + j">
                      <p [hidden]="hideTopStakeholderErrorObj[questions.qid]" class="text-danger"> Please select atleast
                        one stakeholder from above </p>
                      <p [hidden]="hideBottomStakeholderErrorObj[questions.qid]" class="text-danger"> Please select
                        atleast one stakeholder from below </p>
                      <div class="stakeholder-list" [attr.id]="'collapseQuestions' + i + j + k"
                           *ngFor="let stakeholder of stakeholdersChecked; let k = index">
                        <label *ngIf="stakeholder.checked">
                          <input type="checkbox" [attr.id]="'checkStakeholder' + i + j + k" checked="true"
                                 (change)="onClickStakeholder(questions.qid, $event, stakeholder.stakeholder)"> {{stakeholder.stakeholder}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!isLoading">
  <div class="col custom-col">
    <app-footer></app-footer>
  </div>
</div>
