.info-content {
  background-color: #b5b3b3;
}

.backAndReview {
  transform: translate(90%, 1%);
}

.content {
  background-color: #f1eded;
  padding-top: 3%;
  padding-bottom: 5%;
}

.data-content {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid #ab9393;
  color: #2B0030;
  padding-bottom: 4%;
  margin-bottom: 3%;
  background-color: white;
}

.data-content h3 {
  padding-bottom: 2%;
  padding-top: 2%;
}

.section-name {
  color: #2B0030;
  font-size: 20px;
  font-weight: 500;
}

#saveBtn {
  color: #2000A8;
  font-weight: 500;
  background-color: white;
  border: 0;
  float: left;
}

#exitBtn {
  color: #6A4C6E;
  font-weight: 500;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #6A4C6E;
  float: right;
  padding: 2% 10%;
}


#continueBtn {
  float: left;
  padding: 2% 7%;
}

.btn-success{
  background-color: #0000A0 !important;
  color: #FFFFFF;
  border-color: #0000A0 !important;
}

.info-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 #E9E5EA;
  font-size: 14px;
  font-weight: 500;
  margin-top: 70px;
  overflow-x: hidden;
}

button[data-toggle*=collapse] {
  color: #2B0030;
  background-color: #FFFFFF;
  font-weight: bold;
  border: 0;
}

.questionsTheme {
  border: 1px solid #D5CCD6;
  margin-bottom: 5%;
}

label{
  display: block;
}

.question-theme {
  border-bottom: 1px solid #2000A8;
  padding-right: 2%;
}

.clear {
  display: inline-block;
  padding-left: 3%;
  cursor: pointer;
}

.selectAll {
  display: inline-block;
  cursor: pointer;
}

.select-clear {
  color: #2000A8;
}

.collapse {
  padding-left: 2%;
  padding-top: 1%;
}

.stakeholder {
  padding-right: 2%;
}

.checkboxInput {
  list-style: none;
  color: #2B0030;
}

.question-theme button:focus {
  box-shadow: none !important;
}

.question-theme button:active {
  color: #2B0030;
  background-color: white;
  border: 0;
}

input[type=checkbox]{
  margin-right: 1%;
}

.total-questions {
  float: right;
  padding-top: 1%;
}

.custom-col {
  padding: 0;
}

#errorHTTPMsgModal .modal-body {
  text-align: center;
  display: table;
  padding-top: 4%;
}

#errorHTTPMsgModal .modal-content {
  background-color: #E9E5EA;
  border: 1px solid #584e4e;
  color: #2B0030;
}

#errorHTTPMsgModal {
  transform: translate(447px, 100px);
  overflow: hidden;
}

.error-container {
  display: table-cell;
  vertical-align: middle;
}

.fa-times-circle {
  font-size: 80px !important;
  padding-bottom: 9%;
  color: #c72626;
}

.errorHTTP {
  font-weight: 500;
  font-size: 28px;
}

.errorCloseBtn {
  border: 0;
  background-color: white;
  color: #2B0030;
  font-weight: 700;
  border-radius: 18px;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 4%;
}
